@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .border-border {
    border-color: theme("colors.border");
    border-width: 1px;  /* Ajustando a largura da borda */
    border-radius: 8px; /* Bordas arredondadas para suavizar */
  }
}

@layer base {
  * {
    outline: 1px solid var(--ring);     /* Reduzindo a espessura do outline */
    outline-opacity: 0.3;                /* Ajustando a opacidade do outline */
    background-color: var(--background);
    @apply border-border;
  }

  body {
    background-color: var(--background);
    color: var(--foreground);
  }
}

:root {
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --border: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --border: oklch(0.269 0 0);
  --ring: oklch(0.439 0 0);
}
